# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version

# Entorno virtual
venv/
.env
.venv/

# Configuración de IDE/Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log o debug
*.log

# Archivos de salida de pruebas
.pytest_cache/
coverage/
.coverage

# Archivos pdf generados
*.pdf

# Archivos de métricas
*.csv
*.png